/* td small {
	font-size: 10px
} */

/* .mw-250 {
	max-width: 250px;
} */

/* .dataTable {
	font-size: 12px;
} */
.dataTable .dt-column-title {
	font-weight: bolder;
}
.dataTable thead tr th {
	text-align: center;
}
